requests==2.31.0
PyJWT==2.7.0
py-zabbix~=1.1.7
python-decouple==3.8
pysnmp==4.4.12
pysnmp-mibs==0.1.6
urllib3==2.0.2
coloredlogs~=15.0.1
verboselogs~=1.7
napalm-s350~=0.3.1
napalm==4.1.0
unificontrol==0.2.9
